$green: #8D8741;
$mint-green: #5CDB95;

$teal-blue: #659D8B;

$dark-red: EDF5E1;

$light-brown: #DAAD86;
$medium-brown: #BC986A;
$dark-brown: #7E685A;

$light-beige: #FBEEC1;

$dark-mauve: #907163;

$faded-black: #1A1A1D;

$light-grey: #4E4E50;

body {
  background: $dark-mauve;
}