@import 'colors.scss';

.dashboard {
  background: whitesmoke;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .navigation {
    padding: 10px;
    flex-grow: 1;
    width: 30%;

    .h2 {
      text-align: center;

    }

    .navigation-item {

    }

    .selected-item {
      background: $teal-blue;
    }
  }

  .main-container {
    flex-grow: 2;
    padding: 10px;
    width: 60%;
  }
}